name: Build a beta

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install deps
        run: npm install --legacy-peer-deps || true

      - name: Prebuild Android
        run: npx expo prebuild --platform android --clean

      - name: Configure Gradle
        run: |
          chmod +x android/gradlew
          echo "org.gradle.jvmargs=-Xmx6144m -XX:MaxMetaspaceSize=1024m -XX:+HeapDumpOnOutOfMemoryError" >> android/gradle.properties
          echo "android.enable16KbPageSizes=true" >> android/gradle.properties


      - name: Build APK
        run: |
          cd android
          ./gradlew assembleRelease --no-daemon
